<div class="page-home">
  <div class="main-view">
    {{> user-card}}
    <a class="button-find">
      Find a friend
      <i class="material-icons">search</i>
    </a>
    {{> friend-list}}
  </div>
</div>
