<div class="user-card">
  <img class="user-card__avatar" src={{user.image}} alt={{user.name}}>
  <h4 class="user-card__greet">Welcome back</h4>
  <h1 class="user-card__name">{{user.name}}</h1>
  <h6 class="user-card__email">{{user.email}}</h6>
</div>
